@model Teledoc.Models.Client

@{
    ViewBag.Title = "Delete";
}
<h2>Удаление клиента</h2>
@*<h3>Подтвердите удаление клиента!</h3>*@

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Upd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Upd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
